@charset "utf-8";
/*MENU SUPERIOR*/
.navbar-inverse{
	margin-bottom:0px;
}
/*MENU DO RODAPE*/
.nav-justified {
  border: 1px solid #969696;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #E8E8E8;
  text-align: center;
  border-bottom: 1px solid #969696;
}
.nav-justified > li > a:hover{
	color:#000000;
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

.navbar-right  li i{
	margin-top:10px;
	margin-right:10px;	
	color:#979797;
}
@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}
<!--RODAPE-->
.panel-footer{
	margin-bottom:0PX;
}
