@charset "utf-8";
/*Correção do texto*/
@media (max-width: 476PX) { 
	panel-default a{
		font-size:12px;
		margin-left:10px;
		margin-right:10px;
	}
	
	p {
		font-size:12px;
		margin-left:10px;
		margin-right:10px;
	} 
	h2,h3,h4 {
		font-size:18px;
		margin-left:8px;
		margin-right:8px;
	} 
	h1{
		margin-left:8px;
		margin-right:8px;
		font-size:30px;
	}
}
