<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--Titulo e descrição-->
  <title>Projeto MOOC</title>
  <meta charset="utf-8"/>
  <meta name="description" content="Projeto MOOC - TFG Kayque"/>
  <!--Configurações do bootstrap-->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="view/css/bootstrap/bootstrap.min.css"/>
  <!--Folhas de estilo-->
  <link rel="stylesheet" href="view/css/cabecalho-rodape.css"/>
  <link rel="stylesheet" href="view/css/dashboard.css"/>
  <!--Icones-->
  <link rel="stylesheet" href="view/fonts/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
 {include file="header.html"} 
  <!--Formulario de cadastro-->
  <session class="container">
    <div class="row">
      <div class="col-lg-offset-3 col-xs-12 col-lg-6">
        <div class="jumbotron">
          <article class="row text-center">
            <header class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
               {if !empty($sucesso)}
                  <div class="alert alert-success"> 
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
                    <strong>Sucesso!</strong><br> {$sucesso}
                  </div>
                {/if}    
                {if !empty($fracasso)}
                  <div class="alert alert-danger"> 
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
                    <strong>Operação mal sucedida!</strong><br> {$fracasso} Por favor tente novamente.
                  </div>
                {/if}    
              {if $super}
              	<h2>Cadastrar novo tutor</h2>
              {else}
              	<h2>Cadastrar</h2>
              {/if}
            </header>
              <!--Formulario de cadastro-->
              <form role="form" id="cadastro" method="POST" class="text-center" action="?ctrl=usuario&ac=cadastrar" autocomplete='off'>
                {if $super}
                <input type="hidden" name="tutor" value="tutor">	
                {/if}
                <div class="form-group">
                  <label for="nome">Nome completo</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="nome">
                  <span class="help-block" style="display: none;">Entre com seu nome completo.</span>
                </div>
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Endereço de E-mail">
                  <span class="help-block" style="display: none;">Por favor entre com um email valido.</span>
                </div>
                 <div class="form-group">
                  <label for="senha">Senha</label>
                  <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                  <span class="help-block" style="display: none;">Por favor entre com um email valido.</span>
                </div>
                <span class="help-block" style="display: none;">Por favor entre com o código de segurança.</span>
                <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style=" margin-top: 10px;">Cadastrar</button>
              </form>
              <!--Formulario de cadastro-->
          </article><!--row text-center-->
        </div><!--jumbotron-->
      </div><!--col-lg-offset-3 col-xs-12 col-lg-6-->
    </div><!--row-->
  </session><!--container-->
  <!--Formulario de cadastro-->
  {if !$super}
  <p class="text-center">Ja possui uma conta? <a href="?ctrl=usuario&ac=login">Entre agora</a></p>
  {/if}
  <hr>
  {include file="footer.html"} 
</body>
</html>