<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--Titulo e descrição-->
  <title>Projeto MOOC</title>
  <meta charset="utf-8"/>
  <meta name="description" content="Projeto MOOC - TFG Kayque"/>
  <!--Configurações do bootstrap-->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="view/css/bootstrap/bootstrap.min.css"/>
  <!--Folhas de estilo-->
  <link rel="stylesheet" href="view/css/cabecalho-rodape.css"/>
  <link rel="stylesheet" href="view/css/dashboard.css"/>
  <!--Icones-->
  <link rel="stylesheet" href="view/fonts/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
    {include file="header.html"} 
    <!--Conteúdo-->
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row main">
                 <!--Paginas dashboard-->
                 <session class="col-sm-9 col-md-12 col-lg-12 main">
                    <h1 class="page-header">Lições do módulo {$modulo}</h1>
                   	 	<a href="?ctrl=dashboardLicao&ac=cadastrar&modulo={$modulo}&curso={$numero_curso}" class="btn btn-success pull-left">Adicionar Lição</a><br><br>
                        {if !empty($sucesso)}
                            <div class="alert alert-success"> 
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
                              <strong>Sucesso!</strong> {$sucesso}
                            </div>
                        {/if}    
                        {if !empty($fracasso)}
                          <div class="alert alert-danger"> 
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
                            <strong>Operação mal sucedida!</strong> {$fracasso} Por favor tente novamente.
                          </div>
                        {/if}   
                        <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                            <thead>
                                <tr >                           
                                    <th class="text-center">Nome</th>
                                   
                                  	<th class="text-center">Visualização</th>
                                    <th class="text-center">Ação</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {if !empty($licoes)}
                                    {foreach $licoes as $licao}
                                        <tr>
                                        <td><strong>{$licao['nome']}</strong></td>
                                        <td>{$licao['resumo']}</td>
                                        <td>
                                        <a href="?ctrl=dashboardLicao&ac=recuperar&modulo={$modulo}&licao={$licao['nome']}&curso={$numero_curso}" class="btn btn-primary glyphicon glyphicon-edit"> Editar</a>
                                        <a href="?ctrl=dashboardLicao&ac=excluir&modulo={$modulo}&licao={$licao['nome']}&curso={$numero_curso}" class="btn btn-danger glyphicon glyphicon-remove"> Remover</a>
                                        <a class="btn btn-md btn-success" href="?ctrl=dashboardLicao&ac=conteudo&modulo={$modulo}&licao={$licao['nome']}&curso={$numero_curso}"><i class="fa fa-pencil-square-o"></i> Conteúdo</a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                {else}
                              		 <tr>
                                        <td><strong>Não existem lições cadastradas neste módulo!!</strong></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {/if} 
                            </tbody>
                        </table>
                        
                 </session>
                 <!--Paginas dashboard-->
             
        </div>
    </div>
    <!--Conteúdo-->
    <hr>
   {include file="footer.html"} 
</body>
</html>