<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!--Titulo e descrição-->
  <title>Projeto MOOC</title>
  <meta charset="utf-8"/>
  <meta name="description" content="Projeto MOOC - TFG Kayque"/>
  <!--Configurações do bootstrap-->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="view/css/bootstrap/bootstrap.min.css"/>
  <!--Folhas de estilo-->
  <link rel="stylesheet" href="view/css/cabecalho-rodape.css"/>
  <link rel="stylesheet" href="view/css/dashboard.css"/>
  <link rel="stylesheet" href="view/css/classroom-home.css"/>
  <!--Icones-->
  <link rel="stylesheet" href="view/fonts/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
    {include file="view/header.html"} 
    <!--Conteúdo-->
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row main">
                  <section class="col-lg-12 col-md-12">
                    <!--Painél-->
                    <hr>
                    <div class="panel panel-default">
                      <!--Conteúdo-->
                      <section class="panel-body row">
                        <!--Cabeçalho-->
                        <header>
                          <div class="col-md-10 center-block">
                            <h2 class="page-header">Perguntas frequentes sobre a plataforma</h2>
                          </div>
                          <div class="col-md-2">
                          </div>
                        </header>
                        <!--Cabeçalho-->
                        <session class="col-md-9 text-justify">
                              <article id="sec2">
        <div class="row">                    
          <div class="col-lg-1 col-md-1 hidden-xs"> 
          <br>
            <i class="fa fa-3x fa-question-circle-o" aria-hidden="true"></i> 
          </div>
          <div class="col-lg-11 col-md-11 col-xs-12">
            <p class="text-justify"><h3>Como a plataforma funciona?</h3></p>
            <p class="text-justify">Todos os cursos da plataforma possuem a mesma pagina que é denominada classroom. Na classroom é possível navegar pelas paginas do curso, como a pagina inicial e a pagina de conteúdo programático, fórum de discussão, consultar o material adicional do curso, wikis que contém artigos anexados pelos alunos, paginas sociais do curso, realizar as lições e consultar o progresso. </p>
          </div>
          <div class="col-lg-1 col-md-1 hidden-xs"> 
            <br>
            <i class="fa fa-3x fa-question-circle-o" aria-hidden="true"></i> 
          </div>
          <div class="col-lg-11 col-md-11 col-xs-12">
            <p class="text-justify"><h3>Os cursos são abertos?</h3></p>
            <p class="text-justify">O acesso a classroom é livre para qualquer pessoa que acessar a plataforma, no entanto para poder realizar interações no fórum, anexar artigos e acompanhar o progresso individual é necessário o cadastro do aluno na plataforma. O cadastro pode ser feito rapidamente acessando o menu superior direito. </p>
          </div>
          <div class="col-lg-1 col-md-1 hidden-xs"> 
            <br>
            <i class="fa fa-3x fa-question-circle-o" aria-hidden="true"></i> 
          </div>
          <div class="col-lg-11 col-md-11 col-xs-12">
            <p class="text-justify"><h3>O que mais a plataforma oferece?</h3></p>
            <p class="text-justify">A plataforma organiza os cursos por assunto que podem ser facilmente pesquisados e consultados no menu superior</p>
          </div>
          <div class="col-lg-1 col-md-1 hidden-xs"> 
            <br>
            <i class="fa fa-3x fa-question-circle-o" aria-hidden="true"></i> 
          </div>
          <div class="col-lg-11 col-md-11 col-xs-12">
            <p class="text-justify"><h3>Como faço a inscrição?</h3></p>
            <p class="text-justify">A inscrição pode ser feita entrando na pagina de registro no menu superior direito. Para se cadastrar basta entrar com o email e senha.</p>
          </div>
          <div class="col-lg-1 col-md-1 hidden-xs"> 
            <br>
            <i class="fa fa-3x fa-question-circle-o" aria-hidden="true"></i> 
          </div>
          <div class="col-lg-11 col-md-11 col-xs-12">
            <p class="text-justify"><h3>Como posso acompanhar meu progresso?</h3></p>
            <p class="text-justify">Para verificar quais cursos você esta acompanhando você pode acessar o link do menu retrátil a esquerda e consultar "Meus cursos". São listados ali todos os cursos em que você esta inscrito, assim você poderá acompanhar seu progresso em cada um deles. Para um progresso mais detalhado basta entrar na classroom do curso e acessar a abra "Progresso".</p>
          </div>
          <div class="col-lg-1 col-md-1 hidden-xs"> 
            <br>
            <i class="fa fa-3x fa-question-circle-o" aria-hidden="true"></i> 
          </div>
          <div class="col-lg-11 col-md-11 col-xs-12">
            <p class="text-justify"><h3>Como faço para me inscrever em um curso?</h3></p>
            <p class="text-justify">Apos a consulta do curso na pagina inicial, categoria ou busca no menu superior você será trazido para a pagina de curso. A pagina de curso contém as informações principais do curso. Quando estiver logado no sistema você poderá se inscrever no botão esquerdo "Inscrever no curso". A inscrição poderá ser acompanhada no menu retratil "Meus cursos" e ser cancelada a seu critério.</p>
          </div>
           </div>
        <!--row--> 
      </article>
                        </session>
                        <!--Texto-->
                      </section>
                      <!--Conteúdo-->
                    </div>
                    <!--Painél-->
                  </section>
                </div><!--row main-->
            </div><!--container-fluid-->
        </div><!--page-content-->
    </div><!--page-content-wrapper-->
    <!--Conteúdo-->
    <hr>
    {include file="view/footer.html"} 
</body>
</html>