<!DOCTYPE html>
<html lang="pt-br">
<head>
<!--Titulo e descrição-->
<title>Projeto MOOC</title>
<meta charset="utf-8"/>
<meta name="description" content="Projeto MOOC - TFG Kayque"/>
<!--Configurações do bootstrap-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="icone.png"/>
<link rel="stylesheet" href="view/css/bootstrap/bootstrap.min.css"/>
<!--Folhas de estilo-->
<link rel="stylesheet" href="view/css/cabecalho-rodape.css"/>
<link rel="stylesheet" href="view/css/index.css"/>
<link rel="stylesheet" href="view/css/dashboard.css"/>
<link rel="stylesheet" href="view/css/dashboard-form.css"/>
<!--Icones-->
<link rel="stylesheet" href="view/fonts/font-awesome/css/font-awesome.min.css"/>
</head>
<body>
{include file="view/header.html"} 
<!--Carrosel-->
<div id="carrosel" class="carousel slide" data-ride="carousel"> 
  <!--itens do carrosel-->
  <div class="carousel-inner" role="listbox">
    <div class="item active"> <img src="http://globocom.github.io/bootstrap/assets/img/examples/slide-02.jpg" alt="Chania" width="460" height="345">
      <div class="carousel-caption">
        <h1>MOOC</h1>
        <p class="lead">MOOCs são cursos online abertos massivos que utilizam recursos de educação aberta.</p>
        <a class="btn btn-large btn-primary" href="?ctrl=curso&ac=catalogo">Explorar cursos</a> 
        <a class="btn btn-large btn-primary" href="?ctrl=usuario&ac=cadastrar">Cadastre-se</a> </div>
    </div>
    <div class="item"> <img src="http://globocom.github.io/bootstrap/assets/img/examples/slide-03.jpg" alt="Chania" width="460" height="345">
      <div class="carousel-caption">
        <h1>REA</h1>
        <p class="lead">Recursos Educacionais Abertos são materiais de ensino, aprendizado e pesquisa, fixados em qualquer suporte ou mídia, que estejam sob domínio público ou licenciados de maneira aberta, permitindo que sejam utilizados ou adaptados por terceiros</p>
        <a class="btn btn-large btn-primary" href="?ctrl=curso&ac=catalogo">Explorar cursos</a> 
        <a class="btn btn-large btn-primary" href="?ctrl=usuario&ac=cadastrar">Cadastre-se</a> </div>
    </div>
    <div class="item"> <img src="http://globocom.github.io/bootstrap/assets/img/examples/slide-01.jpg" alt="Flower" width="460" height="345">
      <div class="carousel-caption">
        <h1>Ensino a Distância</h1>
        <p class="lead">A Educação a Distância é uma nova forma de ensino que se tornou possível graças aos novos avanços tecnológicos e ao advento da internet.</p>
        <a class="btn btn-large btn-primary" href="?ctrl=curso&ac=catalogo">Explorar cursos</a> 
        <a class="btn btn-large btn-primary" href="?ctrl=usuario&ac=cadastrar">Cadastre-se</a> </div>
    </div>
  </div>
  <!--itens do carrosel--> 
  <!-- Controles do carrosel--> 
  <a class="left carousel-control" href="#carrosel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Anterior</span> </a> <a class="right carousel-control" href="#carrosel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Próximo</span> </a> </div>
<!--Carrosel-->
<!--Carrosel-->
<hr>
<h2 class="text-center">Conheça os cursos</h2>
<hr>
<!--Cursos-->
<session class="container-fluid"> 
  <!--Linha-->
  {if !empty($cursos)}
    {for $i=0 to sizeof($cursos)-1}
        {if ($i==0) or ($i==4)  }<div class="row">{/if}
          <article class="col-md-3 col-xs-12">
            <div class="thumbnail well"> <img src="controller/temp/{$cursos[$i]['numero']}.jpg" alt="{$cursos[$i]['nome']}" class="img-responsive" width="400" height="200">
              <div class="caption">
                <h3>{$cursos[$i]['nome']}</h3>
                <p class="text-justify">{$cursos[$i]['descricao_curta']}</p>
              </div>
              <a href="?ctrl=curso&ac=recuperarCurso&curso={$cursos[$i]['numero']}" class="btn btn-info center-block" role="button">Ir para o curso</a>
            </div>
          </article>
        {if ($i==3) or ($i==7)}</div>{/if}
      {/for}
      {if ($i<=3) or ($i<=7)}</div>{/if}
   <div class="text-center"> <a class="btn btn-primary btn-md" href="?ctrl=curso&ac=catalogo" role="button">Ver todos os cursos</a></div>
  {else}
  	<h1 class="text-center">Não existe nenhum curso cadastrado no sistema!</h1>
    <br>
    <br>
  {/if}
</session>
<!--Cursos-->
<hr>
{include file="view/footer.html"}
</body>
</html>